@font-face {
  font-family: 'PolySansMedium';
  src: local('PolySansMedium'),
  url('./fonts/PolySansMedium.woff2') format("truetype");	
}
@font-face {
  font-family: 'Inter';
  src: local('Inter'),
  url('./fonts/Inter.woff2') format("truetype");
  
}
@font-face {
  font-family: 'PolySansRegular';
  src: local('PolySansRegular'),
    url('./fonts/PolySansRegular.woff2') format("truetype");
}

.socialtree{
  font-family: 'PolySansMedium', sans-serif !important;
}
.heading-link{
  font-family: 'PolySansMedium', sans-serif !important;
}